body{
    font-family:'Montserrat';
    }
    
        
/* MAIN WEBPAGE TITLE */

    #title{
        background-color: #EB455F;
        
    }
    .download{
        color: rgb(255, 255, 255);
        font-size: 3.5rem;
        font-weight: 900 ;
        line-height: 1.5;
        
    }

    /* navbar changes */
    .navbar{
    padding-bottom: 4.7rem;
    }
    .nav-item{
        padding: 0 18px;
    }
    .nav-link{
        font-size: 1.2rem;
    }
    .navbar-brand{
        font-size:2.5rem;
        font-weight: bold;
        font-family: ubuntu;
        
    }

    /* Upper download buttons */
    .btn-up{
        margin: 5% 3% 5% 0;
        
    }

    /* title image */
    .dog{
        width: 19em;
        transform: rotate(23deg);
        position: absolute;
        right: 18%;
        
    }
    .container-fluid{
        padding: 3% 12% 5%;
    }







/* features changes */
    #features{
        
        background-color: #f7f7f7;
        position: relative;
        z-index: 2;
        justify-content: center;
        display: flex;
        
    }
    .feat{
        text-align: center;
        padding: 8em 2% ;
        width: 20em;
        text-align: center;
        margin: auto;
    }
    .feat-heading{
        font-weight:550 ;
        font-size: 1.3rem;
    }
    .fa-solid{
        font-size: 50px;
        margin: 14px;
        color: #f9b5b5;
    }
    .fa-solid:hover{
        font-size: 50px;
        margin: 14px;
        color: #ff4c68;
    }


    /* <!-- Testimonials --> */

    #testimonials{
    background-color: #f9b5b5;
    text-align: center;
    }
    .testimonial-text{
        font-weight: 501;
        font-size: 2.8rem;
        line-height: 1.7;
        color: rgb(255, 255, 255);
        text-align: center;
        
    }
    .dog-img{
        width: 10%;
        border-radius:50% ;
        margin: 25px 20px;
    }
    .carousel-item{
        padding: 7% 15% 5%;
    }

    /* press images*/

    #press{
        padding: 4rem;
        background-color: #f9b5b5;
        text-align: center;
    }
    .press-img{
        width: 15em;
        padding: 20px;
        
    }

/* Price PLANS */
    #pricing{
        text-align: center;
        padding: 3em;
    }
    .name{
    
        font-weight: bold;
        font-size: 1.3em;
    }
    .price{
        
        font-weight: bold;
        padding-top: 0.8em;
    }
    .pricing-row{
        padding: 2em;
        margin: 5rem;
    }
    .btn-price{
        width: 100%;
    }
    .price-h2{
        
        font-weight: bold;
        font-size: 3rem;
        padding: 1%;
    }

/* CTA CHANGES */
    #cta{
        background-color: #ff4c68;
        text-align: center;
        padding-bottom: 4em;
        
    }
    .btn-down{
        margin: 5% 1% 5% 1%;
        
    }

    .final-h3{
        
        width: 75%  ;
        margin: auto;
        padding: 4rem;
        color: rgb(255, 255, 255);
        font-weight: 501;
        font-size: 2.8rem;
        line-height: 1.7;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

/* Footer changes */
    #footer{
        text-align: center;
        margin: 4%;
        font-size: .75em;
        margin-bottom: 0%;
    }
    .footer-icon{
        padding: 1%;
        margin-bottom: 23%;
        color: black ;
    }


/* Media queries for smartphone view */
    @media (max-width: 1100px) {
        .dog{
            position: static;
            transform: none;
        }
        #title{
            text-align: center;
        }
        .price-each-box{
            padding: 2em auto;
            margin: 2em auto;
        }
        .pricing-row{
            margin: 0;
            padding: 0;
        }
    }
